.components {
  background-color:rgb(0, 131, 136);
  float: left;
  width: 20%;
}

.bubbletea {
  background-color: aqua;
  text-align: center;
  float: center;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: anim 7s ease forwards;
}

@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}

.option {
  background-color:rgb(0, 131, 136);
  text-align: right;
  float: right;
  width: 20%;
  height: 778px;
}

#menu {
  background-color: rgb(0, 3, 160);
  text-align: center;
}

/* Components */

#c_border {
  stroke:rgb(255, 255, 255);
  transform: translate(8px,20px);
}

#c_tea {
  fill:rgb(255, 255, 255);
  stroke:rgb(255, 255, 255);
  transform: translate(8px,200px);
}

#c_bubble {
  fill: #FFFFFF;
  stroke:rgb(0, 0, 0);
  transform: translate(8px, 330px);
}

#c_smile {
  stroke:rgb(92, 92, 92);
  transform: translate(8px,550px);
}

/* !Components */

/* Bubble Tea */

#border {
  stroke:rgb(255, 255, 255);
  fill:brown;
  transform: translate(8px,200px);
}

#tea {
  fill:rgb(255, 255, 255);
  stroke:rgb(255, 255, 255);
  transform: translate(8px,200px);
}

#bubble {
  fill: #FFFFFF;
  stroke:rgb(92, 92, 92);
  transform: translate(8px,200px);
}

#smile {
  stroke:rgb(92, 92, 92);
  transform: translate(8px,200px);
}

/* !Bubble Tea */

/* Change Name */

.change_name {
  text-align: center;
  background-color:rgb(0, 131, 136);
  color: aqua;
}

.input {
  border-radius: 20px;
  font    : .9em/1.5em "handwriting", sans-serif;
  padding : 0 10px;
  margin  : 0;
  width   : 240px;
  background: #b6efff;
}
/* !Change Name */